#clockContainer{
    position:relative;
    background:URL('download.png');
    background-repeat: no-repeat;
    height:40vw;
    width: 40vw;
    margin:auto;
    background-size: 100%;
    
}
#Hourhand{
position: absolute;
height:9vw;
width:0.58vw;
background-color: black;
left:49.5%;
top:28%;
transform-origin: bottom;
border-radius: 60%;
}
#Minutehand{
position: absolute;
height:14vw;
width:0.38vw;
background-color: black;
left:49.5%;
top:15%;
transform-origin: bottom;
border-radius: 60%;
/* display: none; */
}
#secondhand{
position: absolute;
height:18vw;
width:0.25vw;
background-color: black;
left:49.5%;
top:5%;
transform-origin: bottom;
border-radius: 60%;
/* display: none; */
}